<p style="font-size: 18px">Profile: <%= @user.username %></p>

<ul>
  <li>Username: <%= @user.username %></li>
  <li>Posts: 
    <ul>
    <% @user.posts.each do |post| %>
      <li><%= link_to post.title, post_path(post) %></li>
    <% end %>
  </ul>
  </li>
</ul>

